.u-section-1 .u-sheet-1 {min-height: 1297px}
.u-section-1 .u-layout-wrap-1 {margin: 0 auto 60px 0}
.u-section-1 .u-image-1 {min-height: 849px; background-image: url("images/c22414a32e1fc405ba5745602ccbedf3.jpg")}
.u-section-1 .u-layout-cell-2 {min-height: 378px; background-image: none}
.u-section-1 .u-text-1 {width: auto; margin: 63px auto 0 24px}
.u-section-1 .u-layout-cell-3 {min-height: 645px}
.u-section-1 .u-container-layout-3 {padding-right: 0}
.u-section-1 .u-group-1 {width: 518px; min-height: 274px; margin: 0 0 0 auto}
.u-section-1 .u-container-layout-4 {padding-left: 13px; padding-right: 13px}
.u-section-1 .u-text-2 {line-height: 1.7; font-size: 1.25rem; font-style: italic; margin: 52px 0}
.u-section-1 .u-shape-1 {width: 13px; height: 274px; margin: -274px auto 0 4px}
.u-section-1 .u-layout-cell-4 {min-height: 582px; background-image: none}
.u-section-1 .u-container-layout-5 {padding-bottom: 30px}
.u-section-1 .u-group-2 {width: 483px; min-height: 519px; margin: 44px auto 0}
.u-section-1 .u-container-layout-6 {padding-left: 45px; padding-right: 45px}
.u-section-1 .u-group-3 {width: 354px; min-height: 267px; margin: 125px auto}
.u-section-1 .u-container-layout-7 {padding: 30px}
.u-section-1 .u-text-3 {margin-top: 0; font-size: 1.5rem; margin-bottom: 0}
.u-section-1 .u-btn-1 {background-image: none; border-style: none none solid; font-size: 1.5rem; margin: 20px auto 0; padding: 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 1036px}
.u-section-1 .u-layout-wrap-1 {min-height: 1066px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-1 {min-height: 878px}
.u-section-1 .u-layout-cell-2 {min-height: 263px}
.u-section-1 .u-layout-cell-3 {min-height: 666px}
.u-section-1 .u-group-1 {width: 427px; margin-top: 44px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-2 {width: auto; margin: 132px 10px -80px -10px}
.u-section-1 .u-shape-1 {width: 11px; margin-left: 0}
.u-section-1 .u-layout-cell-4 {min-height: 475px}
.u-section-1 .u-group-2 {width: 398px; min-height: 429px; margin-top: 33px; margin-bottom: 32px}
.u-section-1 .u-container-layout-6 {padding-left: 21px; padding-right: 21px}
.u-section-1 .u-group-3 {min-height: 310px; margin: 0}
.u-section-1 .u-text-3 {margin-top: 8px; margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 981px}
.u-section-1 .u-image-1 {min-height: 720px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-text-1 {margin-left: auto}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-group-1 {width: 663px; min-height: 218px; margin-top: 71px}
.u-section-1 .u-container-layout-4 {padding-left: 7px; padding-right: 7px}
.u-section-1 .u-text-2 {margin: -40px 0 0}
.u-section-1 .u-shape-1 {width: 8px; height: 180px; margin-top: -253px; margin-left: 29px}
.u-section-1 .u-layout-cell-4 {min-height: 100px}
.u-section-1 .u-group-2 {width: 662px; min-height: 637px; margin-top: 29px; margin-bottom: 29px}
.u-section-1 .u-container-layout-6 {padding-left: 25px; padding-right: 25px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 1999px}
.u-section-1 .u-image-1 {min-height: 718px}
.u-section-1 .u-group-1 {width: 519px; min-height: 238px; margin-top: 0}
.u-section-1 .u-container-layout-4 {padding-left: 3px; padding-right: 3px}
.u-section-1 .u-text-2 {margin-top: 23px}
.u-section-1 .u-shape-1 {margin-top: -209px; margin-left: 1px}
.u-section-1 .u-group-2 {width: 472px; min-height: 499px; margin-top: 42px; margin-bottom: 42px}
.u-section-1 .u-container-layout-6 {padding-left: 13px; padding-right: 13px}
.u-section-1 .u-container-layout-7 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 1507px}
.u-section-1 .u-image-1 {min-height: 864px}
.u-section-1 .u-text-1 {margin-top: 0; margin-left: 0; margin-right: 0}
.u-section-1 .u-group-1 {width: 311px; min-height: 520px}
.u-section-1 .u-container-layout-4 {padding-left: 1px; padding-right: 1px; padding-bottom: 23px}
.u-section-1 .u-text-2 {margin-top: 19px; margin-right: 19px; margin-left: -19px}
.u-section-1 .u-shape-1 {width: 10px; height: 264px; margin-top: -487px; margin-left: 0}
.u-section-1 .u-group-2 {width: 297px; min-height: 507px; margin-top: 28px; margin-bottom: 0}
.u-section-1 .u-container-layout-6 {padding-left: 15px; padding-right: 15px}
.u-section-1 .u-group-3 {width: 267px} }.u-section-2 .u-sheet-1 {min-height: 940px}
.u-section-2 .u-text-1 {font-size: 1.5rem; font-weight: 700; margin: 20px 0 0}
.u-section-2 .u-layout-wrap-1 {margin: 80px auto 60px 0}
.u-section-2 .u-layout-cell-1 {min-height: 762px; background-position: 60.66% 50%}
.u-section-2 .u-image-1 {background-image: url("images/Screenshot2020-07-22at4.00.58PM.png")}
.u-section-2 .u-layout-cell-2 {background-position: 50% 50%; min-height: 381px}
.u-section-2 .u-image-2 {background-image: url("images/Screenshot2020-07-22at4.02.09PM.png")}
.u-section-2 .u-layout-cell-3 {background-position: 0% 50%; min-height: 381px}
.u-section-2 .u-image-3 {background-image: url("images/Screenshot2020-07-22at4.37.25PM.png")}
.u-section-2 .u-layout-cell-4 {background-position: 50% 50%; min-height: 381px}
.u-section-2 .u-image-4 {background-image: url("images/Screenshot2020-07-22at4.38.04PM.png")}
.u-section-2 .u-layout-cell-5 {min-height: 381px; background-position: 50% 50%}
.u-section-2 .u-image-5 {background-image: url("images/Screenshot2020-07-22at4.38.45PM.png")} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 721px}
.u-section-2 .u-text-1 {margin-top: 24px}
.u-section-2 .u-layout-wrap-1 {margin-top: 44px; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 591px}
.u-section-2 .u-layout-cell-2 {min-height: 296px}
.u-section-2 .u-layout-cell-3 {min-height: 296px}
.u-section-2 .u-layout-cell-4 {min-height: 296px}
.u-section-2 .u-layout-cell-5 {min-height: 296px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 2187px}
.u-section-2 .u-text-1 {width: auto}
.u-section-2 .u-layout-cell-1 {min-height: 905px; background-position: 50% 50%}
.u-section-2 .u-layout-cell-2 {min-height: 453px}
.u-section-2 .u-layout-cell-3 {background-position: 50% 50%; min-height: 453px}
.u-section-2 .u-layout-cell-4 {min-height: 453px}
.u-section-2 .u-layout-cell-5 {min-height: 453px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 3385px}
.u-section-2 .u-layout-cell-1 {min-height: 679px}
.u-section-2 .u-layout-cell-2 {min-height: 680px}
.u-section-2 .u-layout-cell-3 {min-height: 680px}
.u-section-2 .u-layout-cell-4 {min-height: 680px}
.u-section-2 .u-layout-cell-5 {min-height: 680px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 2286px}
.u-section-2 .u-layout-cell-1 {min-height: 428px}
.u-section-2 .u-layout-cell-2 {min-height: 428px}
.u-section-2 .u-layout-cell-3 {min-height: 428px}
.u-section-2 .u-layout-cell-4 {min-height: 428px}
.u-section-2 .u-layout-cell-5 {min-height: 428px} }.u-section-3 .u-sheet-1 {min-height: 308px}
.u-section-3 .u-layout-wrap-1 {margin: 1px auto 1px 0}
.u-section-3 .u-layout-cell-1 {min-height: 336px; background-image: none}
.u-section-3 .u-container-layout-1 {padding: 40px 20px 40px 150px}
.u-section-3 .u-text-1 {font-weight: 700; font-size: 8rem; line-height: 1; margin: 0}
.u-section-3 .u-btn-1 {padding: 0}
.u-section-3 .u-text-2 {font-size: 1.875rem; margin: 35px 0 0}
.u-section-3 .u-btn-2 {font-weight: 300; padding: 0}
.u-section-3 .u-layout-cell-2 {min-height: 336px; background-image: none}
.u-section-3 .u-container-layout-2 {padding: 40px 30px}
.u-section-3 .u-icon-1 {height: 49px; width: 49px; background-image: none; margin: 35px auto 0 0}
.u-section-3 .u-icon-2 {height: 49px; width: 49px; background-image: none; margin: -49px auto 0 84px}
.u-section-3 .u-icon-3 {height: 49px; width: 49px; background-image: none; margin: -49px auto 0 168px}
.u-section-3 .u-icon-4 {height: 49px; width: 49px; background-image: none; margin: -49px 194px 0 auto}
.u-section-3 .u-icon-5 {height: 49px; width: 49px; background-image: none; margin: -49px 110px 0 auto}
.u-section-3 .u-text-3 {font-size: 1.25rem; margin: 20px 0 0}
.u-section-3 .u-btn-3 {margin-left: auto; margin-right: auto; background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); font-weight: normal} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 276px}
.u-section-3 .u-layout-wrap-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-container-layout-1 {padding-left: 100px}
.u-section-3 .u-text-2 {font-size: 1.75rem}
.u-section-3 .u-btn-2 {border-style: solid; font-weight: 700; padding-top: 10px; padding-bottom: 10px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-icon-2 {margin-left: 72px}
.u-section-3 .u-icon-3 {margin-right: 133px; margin-left: auto}
.u-section-3 .u-icon-4 {margin-right: auto; margin-left: 144px}
.u-section-3 .u-icon-5 {margin-right: 61px}
.u-section-3 .u-btn-3 {font-weight: 700; border-style: none} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 384px}
.u-section-3 .u-container-layout-1 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px}
.u-section-3 .u-text-1 {font-size: 6rem}
.u-section-3 .u-btn-2 {padding-top: 0; padding-bottom: 0}
.u-section-3 .u-container-layout-2 {padding-top: 30px; padding-bottom: 30px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 200px}
.u-section-3 .u-layout-wrap-1 {margin-bottom: 60px; margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-1 {padding-right: 10px; padding-left: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 277px} }.u-section-4 .u-sheet-1 {min-height: 340px}
.u-section-4 .u-layout-wrap-1 {margin: 1px auto 1px 0}
.u-section-4 .u-layout-cell-1 {min-height: 369px; background-image: none}
.u-section-4 .u-container-layout-1 {padding: 40px 20px 40px 150px}
.u-section-4 .u-text-1 {font-weight: 700; font-size: 8rem; line-height: 1; margin: 0}
.u-section-4 .u-text-2 {margin: 35px 0 0}
.u-section-4 .u-btn-1 {padding: 0}
.u-section-4 .u-layout-cell-2 {min-height: 369px}
.u-section-4 .u-container-layout-2 {padding: 40px 30px}
.u-section-4 .u-text-3 {font-size: 1.25rem; margin: 20px 0 0}
.u-section-4 .u-icon-1 {height: 49px; width: 49px; background-image: none; margin: -261px auto 0 0}
.u-section-4 .u-icon-2 {height: 49px; width: 49px; background-image: none; margin: -49px auto 0 72px}
.u-section-4 .u-icon-3 {height: 49px; width: 49px; background-image: none; margin: -49px 133px 0 auto}
.u-section-4 .u-icon-4 {height: 49px; width: 49px; background-image: none; margin: -49px auto 0 144px}
.u-section-4 .u-icon-5 {height: 49px; width: 49px; background-image: none; margin: -49px 61px 0 auto}
.u-section-4 .u-btn-2 {background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); font-weight: normal; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 391px}
.u-section-4 .u-layout-wrap-1 {margin-top: 0; margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 421px}
.u-section-4 .u-container-layout-1 {padding-left: 100px}
.u-section-4 .u-layout-cell-2 {min-height: 421px}
.u-section-4 .u-container-layout-2 {padding-bottom: 0}
.u-section-4 .u-text-3 {margin-top: 91px}
.u-section-4 .u-btn-2 {border-style: none; font-weight: 700; margin-top: 204px; margin-left: auto; margin-right: auto} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 384px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-container-layout-1 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px}
.u-section-4 .u-text-1 {font-size: 6rem}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-container-layout-2 {padding-top: 30px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 200px}
.u-section-4 .u-container-layout-1 {padding-right: 10px; padding-left: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 672px}
.u-section-4 .u-layout-wrap-1 {margin-top: 17px; margin-bottom: 60px; margin-right: initial; margin-left: initial}
.u-section-4 .u-text-3 {margin-top: 0}
.u-section-4 .u-btn-2 {margin-top: 55px; margin-bottom: -55px} }.u-section-5 .u-sheet-1 {min-height: 708px}
.u-section-5 .u-group-1 {width: 556px; min-height: 252px; margin: 0 auto 0 0}
.u-section-5 .u-container-layout-1 {padding-left: 20px; padding-right: 29px}
.u-section-5 .u-text-1 {line-height: 1.7; font-size: 1.25rem; font-style: italic; margin: 25px 0}
.u-section-5 .u-image-1 {width: 555px; height: 703px; margin: -317px 0 0 auto} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 599px}
.u-section-5 .u-group-1 {width: 460px; min-height: 276px; margin-top: 2px; margin-left: 2px}
.u-section-5 .u-container-layout-1 {padding-right: 24px}
.u-section-5 .u-text-1 {margin-top: 19px; margin-bottom: 19px}
.u-section-5 .u-image-1 {width: 454px; height: 579px; margin-top: -361px; margin-bottom: 2px} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 2003px}
.u-section-5 .u-group-1 {width: 352px; margin-left: 1px}
.u-section-5 .u-container-layout-1 {padding-left: 13px; padding-right: 15px}
.u-section-5 .u-image-1 {width: 356px; height: 485px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 2882px}
.u-section-5 .u-group-1 {min-height: 258px; margin-top: 86px; margin-right: initial; margin-left: initial; width: auto}
.u-section-5 .u-container-layout-1 {padding-left: 6px; padding-right: 7px}
.u-section-5 .u-text-1 {margin-top: 25px; margin-bottom: 25px}
.u-section-5 .u-image-1 {height: 687px; margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 994px}
.u-section-5 .u-group-1 {min-height: 433px; margin-top: 417px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-container-layout-1 {padding-left: 2px; padding-right: 2px}
.u-section-5 .u-text-1 {width: auto; margin: -408px -2px 0 2px}
.u-section-5 .u-image-1 {height: 554px; margin-top: -422px; margin-bottom: 13px; width: auto; margin-right: initial; margin-left: initial} }.u-section-6 .u-sheet-1 {min-height: 337px}
.u-section-6 .u-layout-wrap-1 {margin: 1px auto 1px 0}
.u-section-6 .u-layout-cell-1 {min-height: 361px; background-image: none}
.u-section-6 .u-container-layout-1 {padding: 40px 20px 40px 150px}
.u-section-6 .u-text-1 {font-weight: 700; font-size: 8rem; line-height: 1; margin: 0}
.u-section-6 .u-text-2 {margin: 35px 0 0}
.u-section-6 .u-btn-1 {padding: 0}
.u-section-6 .u-layout-cell-2 {min-height: 361px; background-image: none}
.u-section-6 .u-container-layout-2 {padding: 40px 30px}
.u-section-6 .u-text-3 {font-size: 1.25rem; margin: 30px 0 0}
.u-section-6 .u-icon-1 {height: 49px; width: 49px; background-image: none; margin: -169px auto 0 0}
.u-section-6 .u-icon-2 {height: 49px; width: 49px; background-image: none; margin: -49px auto 0 72px}
.u-section-6 .u-icon-3 {height: 49px; width: 49px; background-image: none; margin: -49px 133px 0 auto}
.u-section-6 .u-icon-4 {height: 49px; width: 49px; background-image: none; margin: -49px auto 0 144px}
.u-section-6 .u-icon-5 {height: 49px; width: 49px; background-image: none; margin: -49px 61px 0 auto}
.u-section-6 .u-btn-2 {background-image: none; border-style: solid; font-weight: 700; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); margin: 77px auto 0} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 350px}
.u-section-6 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 378px}
.u-section-6 .u-container-layout-1 {padding-left: 100px}
.u-section-6 .u-layout-cell-2 {min-height: 378px}
.u-section-6 .u-text-3 {margin-top: 0}
.u-section-6 .u-btn-2 {border-style: none} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 384px}
.u-section-6 .u-layout-cell-1 {min-height: 100px}
.u-section-6 .u-container-layout-1 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px}
.u-section-6 .u-text-1 {font-size: 6rem}
.u-section-6 .u-layout-cell-2 {min-height: 100px}
.u-section-6 .u-container-layout-2 {padding-top: 30px; padding-bottom: 30px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 200px}
.u-section-6 .u-container-layout-1 {padding-right: 10px; padding-left: 10px}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 277px}
.u-section-6 .u-btn-2 {margin-top: 35px} }.u-section-7 .u-sheet-1 {min-height: 608px}
.u-section-7 .u-layout-wrap-1 {width: 1140px; margin: 52px auto 28px 8px}
.u-section-7 .u-layout-cell-1 {min-height: 559px; background-image: none}
.u-section-7 .u-container-layout-1 {padding: 40px 20px 40px 150px}
.u-section-7 .u-text-1 {font-weight: 700; font-size: 8rem; line-height: 1; margin: 0}
.u-section-7 .u-text-2 {margin: 35px 0 0}
.u-section-7 .u-btn-1 {padding: 0}
.u-section-7 .u-layout-cell-2 {min-height: 559px; background-image: none}
.u-section-7 .u-container-layout-2 {padding: 40px 30px}
.u-section-7 .u-text-3 {font-size: 1.25rem; margin: 0}
.u-section-7 .u-text-4 {font-size: 1.25rem; margin: -256px 0 0}
.u-section-7 .u-icon-1 {height: 49px; width: 49px; background-image: none; margin: -148px auto 0 9px}
.u-section-7 .u-icon-2 {height: 49px; width: 49px; background-image: none; margin: -49px auto 0 81px}
.u-section-7 .u-icon-3 {height: 49px; width: 49px; background-image: none; margin: -49px 124px 0 auto}
.u-section-7 .u-icon-4 {height: 49px; width: 49px; background-image: none; margin: -49px auto 0 153px}
.u-section-7 .u-icon-5 {height: 49px; width: 49px; background-image: none; margin: -49px 52px 0 auto}
.u-section-7 .u-btn-2 {background-image: none; border-style: solid; font-weight: 700; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); margin: 79px auto 0 152px}
.u-section-7 .u-btn-3 {background-image: none; border-style: none; font-weight: 700; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); margin: -42px auto 0 80px} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 522px}
.u-section-7 .u-layout-wrap-1 {margin-top: 1px; margin-bottom: 0; margin-right: initial; margin-left: initial; width: auto}
.u-section-7 .u-layout-cell-1 {min-height: 558px}
.u-section-7 .u-container-layout-1 {padding-left: 100px}
.u-section-7 .u-layout-cell-2 {min-height: 558px}
.u-section-7 .u-container-layout-2 {padding-bottom: 0}
.u-section-7 .u-text-3 {width: auto; margin-top: 141px; margin-right: -9px; margin-left: 9px}
.u-section-7 .u-icon-1 {margin-top: -315px}
.u-section-7 .u-btn-2 {border-style: none; margin-left: 52px}
.u-section-7 .u-btn-3 {margin-left: 0} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 384px}
.u-section-7 .u-layout-cell-1 {min-height: 100px}
.u-section-7 .u-container-layout-1 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px}
.u-section-7 .u-text-1 {font-size: 6rem}
.u-section-7 .u-layout-cell-2 {min-height: 100px}
.u-section-7 .u-container-layout-2 {padding-top: 30px}
.u-section-7 .u-text-3 {margin-left: 0; margin-right: 0}
.u-section-7 .u-btn-2 {margin-left: 0} }

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 200px}
.u-section-7 .u-container-layout-1 {padding-right: 10px; padding-left: 10px}
.u-section-7 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 746px}
.u-section-7 .u-layout-wrap-1 {margin-bottom: 60px; width: auto; margin-right: initial; margin-left: initial}
.u-section-7 .u-layout-cell-2 {min-height: 453px}
.u-section-7 .u-text-3 {margin-top: 10px}
.u-section-7 .u-btn-2 {margin-top: 46px; margin-left: auto}
.u-section-7 .u-btn-3 {margin-left: 80px} }.u-section-8 .u-sheet-1 {min-height: 608px}
.u-section-8 .u-layout-wrap-1 {margin: 0 auto 80px 0}
.u-section-8 .u-layout-cell-1 {min-height: 559px; background-image: none}
.u-section-8 .u-container-layout-1 {padding: 40px 20px 40px 150px}
.u-section-8 .u-text-1 {font-weight: 700; font-size: 8rem; line-height: 1; margin: 0}
.u-section-8 .u-text-2 {margin: 35px 0 0}
.u-section-8 .u-btn-1 {border-style: none none solid; font-weight: 700; padding: 0}
.u-section-8 .u-layout-cell-2 {min-height: 559px; background-image: none}
.u-section-8 .u-container-layout-2 {padding: 40px 30px}
.u-section-8 .u-text-3 {font-size: 1.25rem; margin: 0}
.u-section-8 .u-btn-2 {background-image: none; border-style: solid; font-weight: 700; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); margin: 29px auto 0 167px}
.u-section-8 .u-icon-1 {height: 49px; width: 49px; background-image: none; margin: -317px auto 0 26px}
.u-section-8 .u-icon-2 {height: 49px; width: 49px; background-image: none; margin: -49px auto 0 107px}
.u-section-8 .u-icon-3 {height: 49px; width: 49px; background-image: none; margin: -49px 98px 0 auto}
.u-section-8 .u-icon-4 {height: 49px; width: 49px; background-image: none; margin: -49px 167px 0 auto}
.u-section-8 .u-icon-5 {height: 49px; width: 49px; background-image: none; margin: -49px 26px 0 auto} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 439px}
.u-section-8 .u-layout-wrap-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-8 .u-layout-cell-1 {min-height: 469px}
.u-section-8 .u-container-layout-1 {padding-left: 100px}
.u-section-8 .u-layout-cell-2 {min-height: 469px}
.u-section-8 .u-text-3 {margin-top: 84px}
.u-section-8 .u-btn-2 {border-style: none; margin-top: 21px; margin-left: 117px}
.u-section-8 .u-icon-1 {margin-left: 35px} }

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 384px}
.u-section-8 .u-layout-cell-1 {min-height: 100px}
.u-section-8 .u-container-layout-1 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px}
.u-section-8 .u-text-1 {font-size: 6rem}
.u-section-8 .u-layout-cell-2 {min-height: 100px}
.u-section-8 .u-container-layout-2 {padding-top: 30px; padding-bottom: 30px}
.u-section-8 .u-btn-2 {margin-left: 7px} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: 200px}
.u-section-8 .u-container-layout-1 {padding-right: 10px; padding-left: 10px}
.u-section-8 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 277px}
.u-section-8 .u-layout-wrap-1 {margin-bottom: 60px; margin-right: initial; margin-left: initial}
.u-section-8 .u-text-3 {margin-top: 0}
.u-section-8 .u-btn-2 {margin-top: 29px; margin-left: auto} }.u-section-9 {background-image: url("images/bg.jpg"); background-position: 50% 50%}
.u-section-9 .u-sheet-1 {min-height: 695px}
.u-section-9 .u-text-1 {font-size: 8.125rem; letter-spacing: 15px; font-weight: 700; margin: 87px auto 0}
.u-section-9 .u-text-2 {font-size: 8.125rem; letter-spacing: 15px; font-weight: 300; margin: 15px auto 60px}
.u-section-9 .u-btn-1 {background-image: none; border-style: solid; font-weight: 700; font-style: italic; font-size: 1.25rem; text-decoration: underline !important; margin: 30px auto 60px} 

@media (max-width: 1199px){ .u-section-9 .u-sheet-1 {min-height: 573px}
.u-section-9 .u-text-1 {width: auto; margin-top: 54px}
.u-section-9 .u-text-2 {width: auto; margin-top: 0; margin-bottom: 0} }

@media (max-width: 991px){ .u-section-9 {background-position: 50% 50%}
.u-section-9 .u-sheet-1 {min-height: 542px} }

@media (max-width: 767px){ .u-section-9 .u-sheet-1 {min-height: 592px} }

@media (max-width: 575px){ .u-section-9 .u-sheet-1 {min-height: 454px}
.u-section-9 .u-text-1 {font-size: 4.5rem}
.u-section-9 .u-text-2 {font-size: 4.5rem} }.u-section-10 .u-sheet-1 {min-height: 608px}
.u-section-10 .u-layout-wrap-1 {margin: 0 auto 80px 0}
.u-section-10 .u-layout-cell-1 {min-height: 559px; background-image: none}
.u-section-10 .u-container-layout-1 {padding: 40px 20px 40px 150px}
.u-section-10 .u-text-1 {font-weight: 700; font-size: 8rem; line-height: 1; margin: 0}
.u-section-10 .u-text-2 {margin: 35px 0 0}
.u-section-10 .u-btn-1 {font-weight: 300; padding: 0}
.u-section-10 .u-layout-cell-2 {min-height: 559px; background-image: none}
.u-section-10 .u-container-layout-2 {padding: 40px 30px}
.u-section-10 .u-text-3 {font-size: 1.25rem; margin: 0}
.u-section-10 .u-btn-2 {background-image: none; border-style: solid; font-weight: 700; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); align-self: center; margin: 21px auto 0}
.u-section-10 .u-icon-1 {height: 49px; width: 49px; background-image: none; margin: 30px auto 0 35px}
.u-section-10 .u-icon-2 {height: 49px; width: 49px; background-image: none; margin: -49px auto 0 107px}
.u-section-10 .u-icon-3 {height: 49px; width: 49px; background-image: none; margin: -49px 98px 0 auto}
.u-section-10 .u-icon-4 {height: 49px; width: 49px; background-image: none; margin: -49px 167px 0 auto}
.u-section-10 .u-icon-5 {height: 49px; width: 49px; background-image: none; margin: -49px 26px 0 auto} 

@media (max-width: 1199px){ .u-section-10 .u-sheet-1 {min-height: 479px}
.u-section-10 .u-layout-wrap-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-10 .u-layout-cell-1 {min-height: 509px}
.u-section-10 .u-container-layout-1 {padding-left: 100px}
.u-section-10 .u-btn-1 {font-weight: 700}
.u-section-10 .u-layout-cell-2 {min-height: 509px}
.u-section-10 .u-text-3 {margin-top: 104px}
.u-section-10 .u-btn-2 {border-style: none; margin-top: 13px}
.u-section-10 .u-icon-1 {margin-top: -331px; margin-left: 31px}
.u-section-10 .u-icon-2 {margin-left: 103px}
.u-section-10 .u-icon-3 {margin-right: 103px}
.u-section-10 .u-icon-4 {margin-right: auto}
.u-section-10 .u-icon-5 {margin-right: 31px} }

@media (max-width: 991px){ .u-section-10 .u-sheet-1 {min-height: 384px}
.u-section-10 .u-layout-cell-1 {min-height: 100px}
.u-section-10 .u-container-layout-1 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px}
.u-section-10 .u-text-1 {font-size: 6rem}
.u-section-10 .u-layout-cell-2 {min-height: 100px}
.u-section-10 .u-container-layout-2 {padding-top: 30px; padding-bottom: 30px} }

@media (max-width: 767px){ .u-section-10 .u-sheet-1 {min-height: 200px}
.u-section-10 .u-container-layout-1 {padding-right: 10px; padding-left: 10px}
.u-section-10 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-10 .u-sheet-1 {min-height: 277px}
.u-section-10 .u-text-3 {margin-top: 0} }.u-section-11 .u-sheet-1 {min-height: 608px}
.u-section-11 .u-layout-wrap-1 {margin: 0 auto 80px 0}
.u-section-11 .u-layout-cell-1 {min-height: 559px; background-image: none}
.u-section-11 .u-container-layout-1 {padding: 40px 20px 40px 150px}
.u-section-11 .u-text-1 {font-weight: 700; font-size: 8rem; line-height: 1; margin: 0}
.u-section-11 .u-text-2 {margin: 35px 0 0}
.u-section-11 .u-btn-1 {font-weight: 300; padding: 0}
.u-section-11 .u-layout-cell-2 {min-height: 559px; background-image: none}
.u-section-11 .u-container-layout-2 {padding: 40px 30px}
.u-section-11 .u-text-3 {font-size: 1.25rem; margin: 0}
.u-section-11 .u-btn-2 {background-image: none; border-style: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); margin: 20px auto 0}
.u-section-11 .u-icon-1 {height: 49px; width: 49px; background-image: none; margin: 30px auto 0 0}
.u-section-11 .u-icon-2 {height: 49px; width: 49px; background-image: none; margin: -49px auto 0 103px}
.u-section-11 .u-icon-3 {height: 49px; width: 49px; background-image: none; margin: -49px auto 0 173px}
.u-section-11 .u-icon-4 {height: 49px; width: 49px; background-image: none; margin: -49px 31px 0 auto}
.u-section-11 .u-icon-5 {height: 49px; width: 49px; background-image: none; margin: -49px 102px 0 auto} 

@media (max-width: 1199px){ .u-section-11 .u-sheet-1 {min-height: 422px}
.u-section-11 .u-layout-wrap-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-11 .u-layout-cell-1 {min-height: 452px}
.u-section-11 .u-container-layout-1 {padding-left: 100px}
.u-section-11 .u-btn-1 {font-weight: 700}
.u-section-11 .u-layout-cell-2 {min-height: 452px}
.u-section-11 .u-text-3 {margin-top: 94px}
.u-section-11 .u-btn-2 {margin-top: 14px}
.u-section-11 .u-icon-1 {margin-top: -316px; margin-left: 31px}
.u-section-11 .u-icon-2 {margin-left: 102px}
.u-section-11 .u-icon-3 {margin-left: auto} }

@media (max-width: 991px){ .u-section-11 .u-sheet-1 {min-height: 384px}
.u-section-11 .u-layout-cell-1 {min-height: 100px}
.u-section-11 .u-container-layout-1 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px}
.u-section-11 .u-text-1 {font-size: 6rem}
.u-section-11 .u-layout-cell-2 {min-height: 100px}
.u-section-11 .u-container-layout-2 {padding-top: 30px; padding-bottom: 30px} }

@media (max-width: 767px){ .u-section-11 .u-sheet-1 {min-height: 200px}
.u-section-11 .u-container-layout-1 {padding-right: 10px; padding-left: 10px}
.u-section-11 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-11 .u-sheet-1 {min-height: 277px}
.u-section-11 .u-text-3 {margin-top: 0} }.u-section-12 .u-sheet-1 {min-height: 608px}
.u-section-12 .u-layout-wrap-1 {margin: 0 auto 80px 0}
.u-section-12 .u-layout-cell-1 {min-height: 559px; background-image: none}
.u-section-12 .u-container-layout-1 {padding: 40px 20px 40px 150px}
.u-section-12 .u-text-1 {font-weight: 700; font-size: 8rem; line-height: 1; margin: 0}
.u-section-12 .u-text-2 {margin: 35px 0 0}
.u-section-12 .u-btn-1 {font-weight: 300; padding: 0}
.u-section-12 .u-layout-cell-2 {min-height: 559px; background-image: none}
.u-section-12 .u-container-layout-2 {padding: 40px 30px}
.u-section-12 .u-text-3 {font-size: 1.25rem; margin: 0}
.u-section-12 .u-btn-2 {background-image: none; border-style: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); margin: 20px auto 0}
.u-section-12 .u-icon-1 {height: 49px; width: 49px; background-image: none; margin: 30px auto 0 30px}
.u-section-12 .u-icon-2 {height: 49px; width: 49px; background-image: none; margin: -49px auto 0 102px}
.u-section-12 .u-icon-3 {height: 49px; width: 49px; background-image: none; margin: -49px auto 0 173px}
.u-section-12 .u-icon-4 {height: 49px; width: 49px; background-image: none; margin: -49px 31px 0 auto}
.u-section-12 .u-icon-5 {height: 49px; width: 49px; background-image: none; margin: -49px 102px 0 auto} 

@media (max-width: 1199px){ .u-section-12 .u-sheet-1 {min-height: 474px}
.u-section-12 .u-layout-wrap-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-12 .u-layout-cell-1 {min-height: 504px}
.u-section-12 .u-container-layout-1 {padding-left: 100px}
.u-section-12 .u-btn-1 {font-weight: 700}
.u-section-12 .u-layout-cell-2 {min-height: 504px}
.u-section-12 .u-text-3 {margin-top: 108px}
.u-section-12 .u-btn-2 {margin-top: 16px; margin-left: 132px}
.u-section-12 .u-icon-1 {margin-top: -329px; margin-left: 31px}
.u-section-12 .u-icon-3 {margin-left: auto} }

@media (max-width: 991px){ .u-section-12 .u-sheet-1 {min-height: 384px}
.u-section-12 .u-layout-cell-1 {min-height: 100px}
.u-section-12 .u-container-layout-1 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px}
.u-section-12 .u-text-1 {font-size: 6rem}
.u-section-12 .u-layout-cell-2 {min-height: 100px}
.u-section-12 .u-container-layout-2 {padding-top: 30px; padding-bottom: 30px}
.u-section-12 .u-btn-2 {margin-left: 22px} }

@media (max-width: 767px){ .u-section-12 .u-sheet-1 {min-height: 200px}
.u-section-12 .u-container-layout-1 {padding-right: 10px; padding-left: 10px}
.u-section-12 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-12 .u-sheet-1 {min-height: 277px}
.u-section-12 .u-text-3 {margin-top: 0}
.u-section-12 .u-btn-2 {align-self: center; margin-left: auto} }.u-section-13 .u-sheet-1 {min-height: 608px}
.u-section-13 .u-layout-wrap-1 {margin: 0 auto 80px 0}
.u-section-13 .u-layout-cell-1 {min-height: 559px; background-image: none}
.u-section-13 .u-container-layout-1 {padding: 40px 20px 40px 150px}
.u-section-13 .u-text-1 {font-weight: 700; font-size: 8rem; line-height: 1; margin: 0}
.u-section-13 .u-text-2 {margin: 35px 0 0}
.u-section-13 .u-btn-1 {font-weight: 300; padding: 0}
.u-section-13 .u-layout-cell-2 {min-height: 559px; background-image: none}
.u-section-13 .u-container-layout-2 {padding: 40px 30px}
.u-section-13 .u-text-3 {font-size: 1.25rem; margin: 0}
.u-section-13 .u-btn-2 {background-image: none; border-style: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); margin: 17px auto 0}
.u-section-13 .u-icon-1 {height: 49px; width: 49px; background-image: none; margin: -279px auto 0 31px}
.u-section-13 .u-icon-2 {height: 49px; width: 49px; background-image: none; margin: -49px auto 0 102px}
.u-section-13 .u-icon-3 {height: 49px; width: 49px; background-image: none; margin: -49px auto 0}
.u-section-13 .u-icon-4 {height: 49px; width: 49px; background-image: none; margin: -49px 31px 0 auto}
.u-section-13 .u-icon-5 {height: 49px; width: 49px; background-image: none; margin: -49px 102px 0 auto} 

@media (max-width: 1199px){ .u-section-13 .u-sheet-1 {min-height: 402px}
.u-section-13 .u-layout-wrap-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-13 .u-layout-cell-1 {min-height: 432px}
.u-section-13 .u-container-layout-1 {padding-left: 100px}
.u-section-13 .u-btn-1 {font-weight: 700}
.u-section-13 .u-layout-cell-2 {min-height: 432px}
.u-section-13 .u-text-3 {margin-top: 81px}
.u-section-13 .u-btn-2 {margin-top: 14px} }

@media (max-width: 991px){ .u-section-13 .u-sheet-1 {min-height: 384px}
.u-section-13 .u-layout-cell-1 {min-height: 100px}
.u-section-13 .u-container-layout-1 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px}
.u-section-13 .u-text-1 {font-size: 6rem}
.u-section-13 .u-layout-cell-2 {min-height: 100px}
.u-section-13 .u-container-layout-2 {padding-top: 30px; padding-bottom: 30px} }

@media (max-width: 767px){ .u-section-13 .u-sheet-1 {min-height: 200px}
.u-section-13 .u-container-layout-1 {padding-right: 10px; padding-left: 10px}
.u-section-13 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-13 .u-sheet-1 {min-height: 277px}
.u-section-13 .u-text-3 {margin-top: 0}
.u-section-13 .u-btn-2 {align-self: center} }.u-section-14 .u-sheet-1 {min-height: 608px}
.u-section-14 .u-layout-wrap-1 {margin: 0 auto 80px 0}
.u-section-14 .u-layout-cell-1 {min-height: 559px; background-image: none}
.u-section-14 .u-container-layout-1 {padding: 40px 20px 40px 150px}
.u-section-14 .u-text-1 {font-weight: 700; font-size: 8rem; line-height: 1; margin: 0}
.u-section-14 .u-text-2 {margin: 35px 0 0}
.u-section-14 .u-btn-1 {font-weight: 300; padding: 0}
.u-section-14 .u-layout-cell-2 {min-height: 559px; background-image: none}
.u-section-14 .u-container-layout-2 {padding: 40px 30px}
.u-section-14 .u-text-3 {font-size: 1.25rem; margin: 0}
.u-section-14 .u-btn-2 {background-image: none; border-style: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); align-self: center; margin: 16px auto 0}
.u-section-14 .u-icon-1 {height: 49px; width: 49px; background-image: none; margin: -329px auto 0 31px}
.u-section-14 .u-icon-2 {height: 49px; width: 49px; background-image: none; margin: -49px auto 0 102px}
.u-section-14 .u-icon-3 {height: 49px; width: 49px; background-image: none; margin: -49px auto 0}
.u-section-14 .u-icon-4 {height: 49px; width: 49px; background-image: none; margin: -49px 31px 0 auto}
.u-section-14 .u-icon-5 {height: 49px; width: 49px; background-image: none; margin: -49px 102px 222px auto} 

@media (max-width: 1199px){ .u-section-14 .u-sheet-1 {min-height: 419px}
.u-section-14 .u-layout-wrap-1 {margin-top: -7px; margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-14 .u-layout-cell-1 {min-height: 456px}
.u-section-14 .u-container-layout-1 {padding-left: 100px}
.u-section-14 .u-btn-1 {font-weight: 700}
.u-section-14 .u-layout-cell-2 {min-height: 456px}
.u-section-14 .u-text-3 {margin-top: 77px}
.u-section-14 .u-btn-2 {margin-left: 132px}
.u-section-14 .u-icon-1 {margin-top: -311px}
.u-section-14 .u-icon-5 {margin-bottom: 0} }

@media (max-width: 991px){ .u-section-14 .u-sheet-1 {min-height: 384px}
.u-section-14 .u-layout-cell-1 {min-height: 100px}
.u-section-14 .u-container-layout-1 {padding-top: 30px; padding-bottom: 30px; padding-left: 30px}
.u-section-14 .u-text-1 {font-size: 6rem}
.u-section-14 .u-layout-cell-2 {min-height: 100px}
.u-section-14 .u-container-layout-2 {padding-top: 30px; padding-bottom: 30px}
.u-section-14 .u-btn-2 {margin-left: 22px} }

@media (max-width: 767px){ .u-section-14 .u-sheet-1 {min-height: 200px}
.u-section-14 .u-container-layout-1 {padding-right: 10px; padding-left: 10px}
.u-section-14 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-14 .u-sheet-1 {min-height: 277px}
.u-section-14 .u-text-3 {margin-top: 0}
.u-section-14 .u-btn-2 {margin-left: auto} }