.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/54e4d7464b50ad14f6da8c7dda793678153bdee757596c4870267ed0944dc050bc_1280.jpg")}
.u-section-1 .u-sheet-1 {min-height: 800px}
.u-section-1 .u-text-1 {margin: 60px auto 0 0}
.u-section-1 .u-text-2 {margin: 30px auto 60px 0} 

@media (max-width: 1199px){ .u-section-1 {background-position: 50% 50%}
.u-section-1 .u-text-1 {width: auto; margin-top: 333px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 613px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 460px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 290px} }.u-section-2 .u-sheet-1 {min-height: 600px}
.u-section-2 .u-text-1 {margin: 60px auto 0}
.u-section-2 .u-text-2 {font-size: 1.5rem; margin: 20px auto 60px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 780px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1019px} }.u-section-3 {background-image: url("images/50e9d44a4357b108f5d084609629317e113fdce15b4c704c7c2a7fd7964dc059_1280.jpg")}
.u-section-3 .u-sheet-1 {min-height: 320px}
.u-section-3 .u-group-1 {width: 800px; min-height: 200px; margin: 60px auto}
.u-section-3 .u-container-layout-1 {padding: 30px 60px}
.u-section-3 .u-text-1 {margin: 0} 

@media (max-width: 991px){ .u-section-3 {background-position: 50% 50%}
.u-section-3 .u-group-1 {width: 720px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-3 .u-group-1 {width: 540px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-group-1 {width: 340px} }.u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-image-1 {width: 561px; height: 367px; margin: 73px 25px 0 auto}
.u-section-4 .u-shape-1 {height: 368px; width: 641px; margin: -401px auto 0 9px}
.u-section-4 .u-group-1 {min-height: 313px; margin: -334px 586px 60px 19px}
.u-section-4 .u-container-layout-1 {padding: 20px 30px}
.u-section-4 .u-text-1 {margin: 0}
.u-section-4 .u-text-2 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 680px}
.u-section-4 .u-image-1 {margin-top: 196px}
.u-section-4 .u-shape-1 {margin-right: 490px} }

@media (max-width: 991px){ .u-section-4 .u-image-1 {width: 370px; height: 251px; margin-top: 210px; margin-right: 10px}
.u-section-4 .u-shape-1 {width: 399px; margin-top: -422px; margin-right: 309px; margin-left: 12px}
.u-section-4 .u-group-1 {min-height: 344px; margin-top: -356px; margin-right: 380px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 570px}
.u-section-4 .u-image-1 {width: 325px; height: 223px; margin-top: 320px; margin-right: 4px}
.u-section-4 .u-shape-1 {height: 335px; width: 414px; margin-top: -518px; margin-right: 117px; margin-left: 9px}
.u-section-4 .u-group-1 {min-height: 282px; margin-top: -322px; margin-right: 131px; margin-left: 22px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 615px}
.u-section-4 .u-image-1 {width: 307px; height: 232px; margin-top: 343px; margin-right: 0}
.u-section-4 .u-shape-1 {height: 368px; width: 309px; margin-top: -536px; margin-right: 21px; margin-left: 10px}
.u-section-4 .u-group-1 {min-height: 287px; margin-top: -357px; margin-right: 32px; margin-left: 21px} }.u-section-5 .u-sheet-1 {min-height: 500px}
.u-section-5 .u-image-1 {width: 561px; height: 367px; margin: 73px 27px 0 auto}
.u-section-5 .u-shape-1 {height: 368px; width: 641px; margin: -401px auto 0 9px}
.u-section-5 .u-group-1 {min-height: 313px; margin: -334px 586px 60px 19px}
.u-section-5 .u-container-layout-1 {padding: 20px 30px}
.u-section-5 .u-text-1 {margin: 0}
.u-section-5 .u-text-2 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 680px}
.u-section-5 .u-image-1 {margin-top: 196px}
.u-section-5 .u-shape-1 {margin-right: 490px} }

@media (max-width: 991px){ .u-section-5 .u-image-1 {width: 370px; height: 251px; margin-top: 210px; margin-right: 10px}
.u-section-5 .u-shape-1 {width: 399px; margin-top: -422px; margin-right: 309px; margin-left: 12px}
.u-section-5 .u-group-1 {min-height: 344px; margin-top: -356px; margin-right: 380px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 570px}
.u-section-5 .u-image-1 {width: 325px; height: 223px; margin-top: 320px; margin-right: 4px}
.u-section-5 .u-shape-1 {height: 335px; width: 414px; margin-top: -518px; margin-right: 117px; margin-left: 9px}
.u-section-5 .u-group-1 {min-height: 282px; margin-top: -322px; margin-right: 131px; margin-left: 22px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 615px}
.u-section-5 .u-image-1 {width: 307px; height: 232px; margin-top: 343px; margin-right: 0}
.u-section-5 .u-shape-1 {height: 368px; width: 309px; margin-top: -536px; margin-right: 21px; margin-left: 10px}
.u-section-5 .u-group-1 {min-height: 287px; margin-top: -357px; margin-right: 32px; margin-left: 21px} }.u-section-6 .u-sheet-1 {min-height: 500px}
.u-section-6 .u-image-1 {width: 561px; height: 367px; margin: 73px 20px 0 auto}
.u-section-6 .u-shape-1 {height: 368px; width: 641px; margin: -401px auto 0 9px}
.u-section-6 .u-group-1 {min-height: 313px; margin: -334px 586px 60px 19px}
.u-section-6 .u-container-layout-1 {padding: 20px 30px}
.u-section-6 .u-text-1 {margin: 0}
.u-section-6 .u-text-2 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 680px}
.u-section-6 .u-image-1 {margin-top: 196px}
.u-section-6 .u-shape-1 {margin-right: 490px} }

@media (max-width: 991px){ .u-section-6 .u-image-1 {width: 370px; height: 251px; margin-top: 210px; margin-right: 10px}
.u-section-6 .u-shape-1 {width: 399px; margin-top: -422px; margin-right: 309px; margin-left: 12px}
.u-section-6 .u-group-1 {min-height: 344px; margin-top: -356px; margin-right: 380px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 570px}
.u-section-6 .u-image-1 {width: 325px; height: 223px; margin-top: 320px; margin-right: 4px}
.u-section-6 .u-shape-1 {height: 335px; width: 414px; margin-top: -518px; margin-right: 117px; margin-left: 9px}
.u-section-6 .u-group-1 {min-height: 282px; margin-top: -322px; margin-right: 131px; margin-left: 22px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 615px}
.u-section-6 .u-image-1 {width: 307px; height: 232px; margin-top: 343px; margin-right: 0}
.u-section-6 .u-shape-1 {height: 368px; width: 309px; margin-top: -536px; margin-right: 21px; margin-left: 10px}
.u-section-6 .u-group-1 {min-height: 287px; margin-top: -357px; margin-right: 32px; margin-left: 21px} }.u-section-7 {background-image: url("https://pixabay.com/get/50e9d44a4357b108f5d084609629317e113fdce15b4c704c7c2a7fd7964dc059_1280.jpg")}
.u-section-7 .u-sheet-1 {min-height: 320px}
.u-section-7 .u-group-1 {width: 800px; min-height: 200px; margin: 60px auto}
.u-section-7 .u-container-layout-1 {padding: 30px 60px}
.u-section-7 .u-text-1 {margin: 0}
.u-section-7 .u-btn-1 {margin-left: auto; margin-right: auto; border-style: none none solid; font-weight: 700; font-size: 1.875rem; padding: 0} 

@media (max-width: 991px){ .u-section-7 {background-position: 50% 50%}
.u-section-7 .u-group-1 {width: 720px}
.u-section-7 .u-container-layout-1 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-7 .u-group-1 {width: 540px}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-7 .u-group-1 {width: 340px} }.u-section-8 {margin-top: 0; margin-bottom: 0}
.u-section-8 .u-sheet-1 {min-height: 600px}
.u-section-8 .u-image-1 {width: 546px; height: 323px; margin: 249px 594px 0 0}
.u-section-8 .u-shape-1 {height: 508px; width: 1038px; margin: -546px 51px 0}
.u-section-8 .u-image-2 {width: 548px; height: 268px; margin: -470px 0 0}
.u-section-8 .u-group-1 {min-height: 196px; width: 488px; margin: 0 60px 0 592px}
.u-section-8 .u-container-layout-1 {padding: 20px 30px}
.u-section-8 .u-text-1 {margin: 0}
.u-section-8 .u-text-2 {margin: 20px 0 0}
.u-section-8 .u-group-2 {min-height: 216px; width: 482px; margin: -494px 594px 60px 64px}
.u-section-8 .u-container-layout-2 {padding: 20px 30px}
.u-section-8 .u-text-3 {margin: 0}
.u-section-8 .u-text-4 {font-size: 1rem; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 780px}
.u-section-8 .u-image-1 {margin-top: 386px; margin-right: auto}
.u-section-8 .u-shape-1 {margin-top: -642px; margin-right: auto; margin-left: -49px}
.u-section-8 .u-image-2 {margin-right: 99px; margin-left: auto}
.u-section-8 .u-group-1 {min-height: 307px; margin-top: 29px; margin-right: 0; margin-left: auto}
.u-section-8 .u-group-2 {margin-top: -635px; margin-right: auto; margin-left: 0}
.u-section-8 .u-text-4 {font-size: 0.8125rem; margin-top: 23px} }

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 620px}
.u-section-8 .u-image-1 {width: 345px; height: 222px; margin-top: 367px; margin-right: 375px}
.u-section-8 .u-shape-1 {height: 521px; width: 656px; margin-top: -549px; margin-left: 32px; margin-right: 32px}
.u-section-8 .u-image-2 {width: 339px; height: 223px; margin-top: -487px}
.u-section-8 .u-group-1 {min-height: 259px; margin-right: 40px; margin-left: 381px; width: 308px}
.u-section-8 .u-group-2 {min-height: 283px; margin-top: -482px; margin-right: 375px; margin-left: 39px; width: 304px} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: 680px}
.u-section-8 .u-image-1 {width: 259px; height: 184px; margin-top: 465px; margin-right: 281px}
.u-section-8 .u-shape-1 {height: 591px; width: 492px; margin-top: -621px; margin-left: auto; margin-right: auto}
.u-section-8 .u-image-2 {width: 274px; height: 182px; margin-top: -552px}
.u-section-8 .u-group-1 {min-height: 350px; margin-top: 12px; margin-right: 34px; margin-left: 266px; width: 224px}
.u-section-8 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-group-2 {min-height: 387px; width: 229px; margin: -544px 281px 70px 30px}
.u-section-8 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 600px}
.u-section-8 .u-image-1 {width: 296px; height: 174px; margin-top: 466px; margin-right: 44px}
.u-section-8 .u-shape-1 {height: 872px; width: 310px; margin-top: -613px; margin-left: 15px; margin-right: 15px}
.u-section-8 .u-image-2 {width: 284px; height: 185px; margin-top: -851px; margin-right: 66px}
.u-section-8 .u-group-1 {min-height: 226px; margin-top: 0; margin-right: auto; margin-left: auto; width: 291px}
.u-section-8 .u-group-2 {min-height: 234px; width: 288px; margin: 194px auto -282px} }.u-section-9 {background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/57e7dc434b56ae14f6da8c7dda793678153bdee757596c4870267ed0944cc259bc_1280.jpg")}
.u-section-9 .u-sheet-1 {min-height: 800px}
.u-section-9 .u-layout-wrap-1 {margin: 148px auto 148px 0}
.u-section-9 .u-layout-cell-1 {min-height: 476px}
.u-section-9 .u-container-layout-1 {padding: 30px 60px}
.u-section-9 .u-text-1 {font-size: 4.5rem; margin: 0}
.u-section-9 .u-text-2 {font-weight: normal; font-size: 1rem; margin: 30px 0 0}
.u-section-9 .u-layout-cell-2 {min-height: 476px; background-image: none}
.u-section-9 .u-container-layout-2 {padding: 30px 60px}
.u-section-9 .u-form-1 {height: 308px; margin: 0 -120px 0 0}
.u-section-9 .u-btn-1 {border-style: solid} 

@media (max-width: 1199px){ .u-section-9 {margin-top: 0; margin-bottom: 0; background-position: 50% 50%}
.u-section-9 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-9 .u-text-1 {font-size: 3.75rem; margin-top: 71px}
.u-section-9 .u-text-2 {font-weight: 700; font-size: 1.5rem; margin-top: -34px}
.u-section-9 .u-form-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-9 .u-sheet-1 {min-height: 100px}
.u-section-9 .u-layout-cell-1 {min-height: 100px}
.u-section-9 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-9 .u-layout-cell-2 {min-height: 100px}
.u-section-9 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-9 .u-sheet-1 {min-height: 200px}
.u-section-9 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-9 .u-sheet-1 {min-height: 79px}
.u-section-9 .u-form-group-1 {width: 100%}
.u-section-9 .u-form-group-2 {width: 100%}
.u-section-9 .u-form-group-3 {width: 100%}
.u-section-9 .u-form-group-4 {width: 100%} }