.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/54e4d7464b50ad14f6da8c7dda793678153bdee757596c4870267ed0944dc050bc_1280.jpg")}
.u-section-1 .u-sheet-1 {min-height: 800px}
.u-section-1 .u-text-1 {margin: 60px auto 0 0}
.u-section-1 .u-text-2 {margin: 30px auto 60px 0} 

@media (max-width: 1199px){ .u-section-1 {background-position: 50% 50%}
.u-section-1 .u-text-1 {width: auto; margin-top: 333px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 613px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 460px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 290px} }.u-section-2 .u-sheet-1 {min-height: 600px}
.u-section-2 .u-layout-wrap-1 {margin: 30px 0}
.u-section-2 .u-layout-cell-1 {min-height: 360px}
.u-section-2 .u-shape-1 {height: 328px; width: 525px; margin: 32px 0 0 30px}
.u-section-2 .u-image-1 {width: 522px; height: 330px; margin: -360px 0 30px}
.u-section-2 .u-layout-cell-2 {min-height: 180px}
.u-section-2 .u-container-layout-2 {padding: 20px 60px}
.u-section-2 .u-text-1 {margin: 0}
.u-section-2 .u-text-2 {font-size: 1rem; margin: 20px 0 0}
.u-section-2 .u-layout-cell-3 {min-height: 180px; order: 0}
.u-section-2 .u-container-layout-3 {padding: 20px 60px}
.u-section-2 .u-text-3 {font-weight: 300; margin: 0}
.u-section-2 .u-text-4 {margin: 20px 0 0}
.u-section-2 .u-layout-cell-4 {min-height: 360px; order: 0}
.u-section-2 .u-text-5 {width: auto; margin: 58px auto 0}
.u-section-2 .u-text-6 {font-weight: normal; font-size: 1rem} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 780px}
.u-section-2 .u-layout-wrap-1 {margin-top: 120px; margin-bottom: 120px; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-2 {font-size: 1.625rem}
.u-section-2 .u-text-3 {font-weight: 700; margin-top: 7px}
.u-section-2 .u-text-6 {font-weight: 700; font-size: 1.875rem; margin: 20px auto 0 52px} }

@media (max-width: 991px){ .u-section-2 .u-layout-cell-1 {min-height: 300px}
.u-section-2 .u-shape-1 {height: 268px; width: 326px; margin-left: 19px}
.u-section-2 .u-image-1 {width: 320px; height: 275px; margin-top: -300px; margin-bottom: 25px}
.u-section-2 .u-layout-cell-2 {min-height: 240px}
.u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-layout-cell-3 {min-height: 241px; order: 1}
.u-section-2 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-text-4 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-4 {min-height: 299px}
.u-section-2 .u-text-6 {width: auto; margin-left: 81px} }

@media (max-width: 767px){ .u-section-2 .u-layout-cell-1 {min-height: 360px}
.u-section-2 .u-shape-1 {height: 328px; margin-left: 14px; width: 306px}
.u-section-2 .u-image-1 {width: 505px; height: 328px; margin-top: -360px; margin-bottom: 32px}
.u-section-2 .u-layout-cell-2 {min-height: 180px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-cell-3 {min-height: 180px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-4 {margin-left: 0; margin-right: 0}
.u-section-2 .u-layout-cell-4 {min-height: 360px}
.u-section-2 .u-text-6 {margin-left: 61px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1019px}
.u-section-2 .u-layout-cell-1 {min-height: 271px}
.u-section-2 .u-shape-1 {height: 240px; width: 331px; margin-top: 31px; margin-left: 9px}
.u-section-2 .u-image-1 {width: 308px; height: 235px; margin-top: -271px; margin-bottom: 25px}
.u-section-2 .u-layout-cell-2 {min-height: 203px}
.u-section-2 .u-layout-cell-3 {min-height: 215px}
.u-section-2 .u-layout-cell-4 {min-height: 270px}
.u-section-2 .u-text-6 {margin-left: 38px} }.u-section-3 {background-image: url("images/50e9d44a4357b108f5d084609629317e113fdce15b4c704c7c2a7fd7964dc059_1280.jpg")}
.u-section-3 .u-sheet-1 {min-height: 320px}
.u-section-3 .u-group-1 {width: 800px; min-height: 200px; margin: 60px auto}
.u-section-3 .u-container-layout-1 {padding: 30px 60px}
.u-section-3 .u-text-1 {margin: 0} 

@media (max-width: 991px){ .u-section-3 {background-position: 50% 50%}
.u-section-3 .u-group-1 {width: 720px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-3 .u-group-1 {width: 540px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-group-1 {width: 340px} }.u-section-4 .u-sheet-1 {min-height: 500px}
.u-section-4 .u-image-1 {width: 561px; height: 367px; margin: 106px 9px 0 0}
.u-section-4 .u-shape-1 {height: 368px; width: 641px; margin: -434px 490px 0 9px}
.u-section-4 .u-group-1 {min-height: 313px; margin: -334px 586px 50px 19px}
.u-section-4 .u-container-layout-1 {padding: 20px 30px}
.u-section-4 .u-text-1 {margin: 0}
.u-section-4 .u-text-2 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 680px}
.u-section-4 .u-image-1 {margin-top: 196px; margin-left: auto}
.u-section-4 .u-group-1 {margin-bottom: 140px} }

@media (max-width: 991px){ .u-section-4 .u-image-1 {width: 370px; height: 251px; margin-top: 210px; margin-right: 10px}
.u-section-4 .u-shape-1 {width: 399px; margin-top: -422px; margin-right: 309px; margin-left: 12px}
.u-section-4 .u-group-1 {min-height: 344px; margin-top: -356px; margin-right: 380px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 570px}
.u-section-4 .u-image-1 {width: 325px; height: 223px; margin-top: 320px; margin-right: 4px}
.u-section-4 .u-shape-1 {height: 335px; width: 414px; margin-top: -518px; margin-right: 117px; margin-left: 9px}
.u-section-4 .u-group-1 {min-height: 282px; margin: -322px 131px 55px 22px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 615px}
.u-section-4 .u-image-1 {width: 307px; height: 232px; margin-top: 343px; margin-right: 0}
.u-section-4 .u-shape-1 {height: 368px; width: 309px; margin-top: -536px; margin-right: 21px; margin-left: 10px}
.u-section-4 .u-group-1 {min-height: 287px; margin: -357px 32px 0 21px} }.u-section-5 .u-sheet-1 {min-height: 500px}
.u-section-5 .u-image-1 {width: 561px; height: 367px; margin: 106px 9px 0 0}
.u-section-5 .u-shape-1 {height: 368px; width: 641px; margin: -434px 490px 0 9px}
.u-section-5 .u-group-1 {min-height: 313px; margin: -334px 586px 50px 19px}
.u-section-5 .u-container-layout-1 {padding: 20px 30px}
.u-section-5 .u-text-1 {margin: 0}
.u-section-5 .u-text-2 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 680px}
.u-section-5 .u-image-1 {margin-top: 196px; margin-left: auto}
.u-section-5 .u-group-1 {margin-bottom: 140px} }

@media (max-width: 991px){ .u-section-5 .u-image-1 {width: 370px; height: 251px; margin-top: 210px; margin-right: 10px}
.u-section-5 .u-shape-1 {width: 399px; margin-top: -422px; margin-right: 309px; margin-left: 12px}
.u-section-5 .u-group-1 {min-height: 344px; margin-top: -356px; margin-right: 380px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 570px}
.u-section-5 .u-image-1 {width: 325px; height: 223px; margin-top: 320px; margin-right: 4px}
.u-section-5 .u-shape-1 {height: 335px; width: 414px; margin-top: -518px; margin-right: 117px; margin-left: 9px}
.u-section-5 .u-group-1 {min-height: 282px; margin: -322px 131px 55px 22px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 615px}
.u-section-5 .u-image-1 {width: 307px; height: 232px; margin-top: 343px; margin-right: 0}
.u-section-5 .u-shape-1 {height: 368px; width: 309px; margin-top: -536px; margin-right: 21px; margin-left: 10px}
.u-section-5 .u-group-1 {min-height: 287px; margin: -357px 32px 0 21px} }.u-section-6 .u-sheet-1 {min-height: 500px}
.u-section-6 .u-image-1 {width: 561px; height: 367px; margin: 106px 9px 0 0}
.u-section-6 .u-shape-1 {height: 368px; width: 641px; margin: -434px 490px 0 9px}
.u-section-6 .u-group-1 {min-height: 313px; margin: -334px 586px 50px 19px}
.u-section-6 .u-container-layout-1 {padding: 20px 30px}
.u-section-6 .u-text-1 {margin: 0}
.u-section-6 .u-text-2 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 680px}
.u-section-6 .u-image-1 {margin-top: 196px; margin-left: auto}
.u-section-6 .u-group-1 {margin-bottom: 140px} }

@media (max-width: 991px){ .u-section-6 .u-image-1 {width: 370px; height: 251px; margin-top: 210px; margin-right: 10px}
.u-section-6 .u-shape-1 {width: 399px; margin-top: -422px; margin-right: 309px; margin-left: 12px}
.u-section-6 .u-group-1 {min-height: 344px; margin-top: -356px; margin-right: 380px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 570px}
.u-section-6 .u-image-1 {width: 325px; height: 223px; margin-top: 320px; margin-right: 4px}
.u-section-6 .u-shape-1 {height: 335px; width: 414px; margin-top: -518px; margin-right: 117px; margin-left: 9px}
.u-section-6 .u-group-1 {min-height: 282px; margin: -322px 131px 55px 22px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 615px}
.u-section-6 .u-image-1 {width: 307px; height: 232px; margin-top: 343px; margin-right: 0}
.u-section-6 .u-shape-1 {height: 368px; width: 309px; margin-top: -536px; margin-right: 21px; margin-left: 10px}
.u-section-6 .u-group-1 {min-height: 287px; margin: -357px 32px 0 21px} }.u-section-7 {background-image: url("https://pixabay.com/get/50e9d44a4357b108f5d084609629317e113fdce15b4c704c7c2a7fd7964dc059_1280.jpg")}
.u-section-7 .u-sheet-1 {min-height: 320px}
.u-section-7 .u-group-1 {width: 800px; min-height: 200px; margin: 60px auto}
.u-section-7 .u-container-layout-1 {padding: 30px 60px}
.u-section-7 .u-text-1 {margin: 0}
.u-section-7 .u-btn-1 {margin-left: auto; margin-right: auto; border-style: none none solid; font-weight: 700; font-size: 1.875rem; padding: 0} 

@media (max-width: 991px){ .u-section-7 {background-position: 50% 50%}
.u-section-7 .u-group-1 {width: 720px}
.u-section-7 .u-container-layout-1 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-7 .u-group-1 {width: 540px}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-7 .u-group-1 {width: 340px} }.u-section-8 .u-sheet-1 {min-height: 709px}
.u-section-8 .u-text-1 {width: 682px; margin: 60px auto 0}
.u-section-8 .u-layout-wrap-1 {margin: 31px auto 60px 0}
.u-section-8 .u-image-1 {min-height: 450px; background-position: 50% 50%; background-image: url("images/57e7dc434b56ae14f6da8c7dda793678153bdee757596c4870267ed0944cc259bc_1280.jpg")}
.u-section-8 .u-container-layout-1 {padding: 20px}
.u-section-8 .u-layout-cell-2 {min-height: 225px}
.u-section-8 .u-container-layout-2 {padding: 20px 60px}
.u-section-8 .u-text-2 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-8 .u-text-1 {margin-right: 258px; margin-left: 0}
.u-section-8 .u-layout-wrap-1 {margin-top: 29px; margin-right: initial; margin-left: initial}
.u-section-8 .u-layout-cell-2 {min-height: 450px}
.u-section-8 .u-text-2 {margin-top: 0} }

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 343px}
.u-section-8 .u-text-1 {margin-right: 38px}
.u-section-8 .u-image-1 {min-height: 345px}
.u-section-8 .u-layout-cell-2 {min-height: 100px}
.u-section-8 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: 716px}
.u-section-8 .u-text-1 {width: 540px; margin-right: 0}
.u-section-8 .u-image-1 {min-height: 518px}
.u-section-8 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 524px}
.u-section-8 .u-text-1 {width: 340px}
.u-section-8 .u-image-1 {min-height: 326px} }.u-section-9 {margin-top: 0; margin-bottom: 0}
.u-section-9 .u-sheet-1 {min-height: 600px}
.u-section-9 .u-image-1 {width: 546px; height: 323px; margin: 249px 594px 0 0}
.u-section-9 .u-shape-1 {height: 508px; width: 1038px; margin: -546px 51px 0}
.u-section-9 .u-image-2 {width: 548px; height: 268px; margin: -470px 0 0}
.u-section-9 .u-group-1 {min-height: 196px; width: 488px; margin: 0 60px 0 592px}
.u-section-9 .u-container-layout-1 {padding: 20px 30px}
.u-section-9 .u-text-1 {margin: 0}
.u-section-9 .u-text-2 {margin: 20px 0 0}
.u-section-9 .u-group-2 {min-height: 216px; width: 482px; margin: -494px 594px 60px 64px}
.u-section-9 .u-container-layout-2 {padding: 20px 30px}
.u-section-9 .u-text-3 {margin: 0}
.u-section-9 .u-text-4 {font-size: 1rem; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-9 .u-sheet-1 {min-height: 780px}
.u-section-9 .u-image-1 {margin-top: 386px; margin-right: auto}
.u-section-9 .u-shape-1 {margin-top: -642px; margin-right: auto; margin-left: -49px}
.u-section-9 .u-image-2 {margin-right: 99px; margin-left: auto}
.u-section-9 .u-group-1 {min-height: 307px; margin-top: 29px; margin-right: 0; margin-left: auto}
.u-section-9 .u-group-2 {margin-top: -635px; margin-right: auto; margin-left: 0}
.u-section-9 .u-text-4 {font-size: 0.8125rem; margin-top: 23px} }

@media (max-width: 991px){ .u-section-9 .u-sheet-1 {min-height: 620px}
.u-section-9 .u-image-1 {width: 345px; height: 222px; margin-top: 367px; margin-right: 375px}
.u-section-9 .u-shape-1 {height: 521px; width: 656px; margin-top: -549px; margin-left: 32px; margin-right: 32px}
.u-section-9 .u-image-2 {width: 339px; height: 223px; margin-top: -487px}
.u-section-9 .u-group-1 {min-height: 259px; margin-right: 40px; margin-left: 381px; width: 308px}
.u-section-9 .u-group-2 {min-height: 283px; margin-top: -482px; margin-right: 375px; margin-left: 39px; width: 304px} }

@media (max-width: 767px){ .u-section-9 .u-sheet-1 {min-height: 680px}
.u-section-9 .u-image-1 {width: 259px; height: 184px; margin-top: 465px; margin-right: 281px}
.u-section-9 .u-shape-1 {height: 591px; width: 492px; margin-top: -621px; margin-left: auto; margin-right: auto}
.u-section-9 .u-image-2 {width: 274px; height: 182px; margin-top: -552px}
.u-section-9 .u-group-1 {min-height: 350px; margin-top: 12px; margin-right: 34px; margin-left: 266px; width: 224px}
.u-section-9 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-group-2 {min-height: 387px; width: 229px; margin: -544px 281px 70px 30px}
.u-section-9 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-9 .u-sheet-1 {min-height: 600px}
.u-section-9 .u-image-1 {width: 296px; height: 174px; margin-top: 466px; margin-right: 44px}
.u-section-9 .u-shape-1 {height: 872px; width: 310px; margin-top: -613px; margin-left: 15px; margin-right: 15px}
.u-section-9 .u-image-2 {width: 284px; height: 185px; margin-top: -851px; margin-right: 66px}
.u-section-9 .u-group-1 {min-height: 226px; margin-top: 0; margin-right: auto; margin-left: auto; width: 291px}
.u-section-9 .u-group-2 {min-height: 234px; width: 288px; margin: 194px auto -282px} }.u-section-10 {background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/54e5dc434253ac14f6da8c7dda793678153bdee757596c4870267ed0944dcc50b9_1280.jpg")}
.u-section-10 .u-sheet-1 {min-height: 800px}
.u-section-10 .u-layout-wrap-1 {margin: 148px auto 148px 0}
.u-section-10 .u-layout-cell-1 {min-height: 476px}
.u-section-10 .u-container-layout-1 {padding: 30px 60px}
.u-section-10 .u-text-1 {font-size: 4.5rem; margin: 0}
.u-section-10 .u-text-2 {font-weight: normal; font-size: 1rem; margin: 30px 0 0}
.u-section-10 .u-layout-cell-2 {min-height: 476px; background-image: none}
.u-section-10 .u-container-layout-2 {padding: 30px 60px}
.u-section-10 .u-form-1 {height: 308px; margin: 0 -120px 0 0}
.u-section-10 .u-btn-1 {border-style: solid} 

@media (max-width: 1199px){ .u-section-10 {margin-top: 0; margin-bottom: 0; background-position: 50% 50%}
.u-section-10 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-10 .u-text-1 {font-size: 3.75rem; margin-top: 71px}
.u-section-10 .u-text-2 {font-weight: 700; font-size: 1.5rem; margin-top: -34px}
.u-section-10 .u-form-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-10 .u-sheet-1 {min-height: 100px}
.u-section-10 .u-layout-cell-1 {min-height: 100px}
.u-section-10 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-10 .u-layout-cell-2 {min-height: 100px}
.u-section-10 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-10 .u-sheet-1 {min-height: 200px}
.u-section-10 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-10 .u-sheet-1 {min-height: 79px}
.u-section-10 .u-form-group-1 {width: 100%}
.u-section-10 .u-form-group-2 {width: 100%}
.u-section-10 .u-form-group-3 {width: 100%}
.u-section-10 .u-form-group-4 {width: 100%} }